.DS_Store
*.DS_Store
package-lock.json
yarn.lock
config/*
javascript/node_modules/*
javascript/nohup.out
java/build/*
java/dist/*
java/out
java/.gradle
java/nohup.out
java/.idea
*.iml
.vscode/*
*.ini
nohup.out
*.tar
*.zip
*.gradle
*.log
.sass-cache
