<script type="text/javascript" src="/js/botPage.js"></script>

<div id="main"></div>

<script>
    const page = new BotPage(document.getElementById('main'), '{{botName}}');
    page.start();
</script>