<script type="text/javascript" src="/js/homePage.js"></script>

<div id="main"></div>

<script>
    const homePage = new HomePage(document.getElementById('main'));
    homePage.start();
</script>