<script type="text/javascript" src="/js/plantsPage.js"></script>
<style>
    .main {
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
    }

    .topRow {
        height: 625px;
    }

    .topRow,
    .bottomRow {
        display: flex;
        flex-direction: row;
    }

    .topRowCell {
        width: calc(50% - 360px);
        flex-grow: 1;
        flex-shrink: 0;
    }

    #plantImage,
    #plantHistory {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, rgba(184, 225, 252, 0.2) 0%, rgba(169, 210, 243, 0.2) 10%, rgba(144, 186, 228, 0.2) 25%, rgba(144, 188, 234, 0.2) 37%, rgba(144, 191, 240, 0.2) 50%, rgba(107, 168, 229, 0.2) 51%, rgba(162, 218, 245, 0.5) 83%, rgba(189, 243, 253, 0.2) 100%);

    }

    #plantImage {
        background-image: url('/assets/plant1Latest.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #plantCharts {
        background-color: white;
        overflow: auto;
    }

    #plantDash {
        width: 360px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .containerHeader {
        background-color: rgba(0, 255, 0, 0.07);
    }
</style>

<div class="main">
    <div class="topRow">
        <div class="topRowCell" id="plantImage">

        </div>
        <div id="plantDash">

        </div>
    </div>
    <div class="bottomRow" style="display: none;">
        <div id="plantHistory">

        </div>
    </div>
</div>


<script type="text/javascript"> 
    const page = new PlantsPage(document.getElementById('main'), '{{routeName}}', 'plantBot', '{{plantId}}');
    page.start();
</script>