<script src="/assets/swim-app.js" swim-app></script>
<style>
	body {
		background-color: #000000;
	}
	.refreshButton {
		position: absolute;
		bottom: 0px;
		color: #020202;
	}
	.mainContainer {
		position: relative;
	}
</style>
<div class='refreshButton' onclick='window.location.reload()'>refresh</div>
<script type="text/recon">
@quilt {
	blockAspectRatio: 1.5
	minBlockWidth: 100
	host: '{{fullSwimUrl}}'
    @block {
        @card {
            title: 'Current Light Level'
            body: @gauge {
                
                # data link information
                node: '/sensor/light'
                lane: 'latest'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # Gauge Values
                meter: $round($linkData#0)/100
                value: @text([{ $round($eager($linkData#0)) || 0}%])
                # Gauge Style
                id: gauge
                transition: @transition(400, linear)
                innerRadius: 90 @pct
                dialCornerRadius: 50 @pct
                dialColor: '#56d7ba'
                faceColor: '#eaecf4'
                valueColor: '#56d7ba'
                valueWeight: 400
                valueSize: 40 @pct
            }
        }
        @card {
            title: 'Light Level History'
            body: @chart {
                # data link information
                lane: 'history'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # chart plot 1
                @plot(type: area) {
                    history0: @link(host: $host, node: '/sensor/light', lane: $lane, type: map)
                    areaFill: 'rgba(255,0,0,0.4)'
                    @each(t: $history0.*:) {
                    key: $t
                    @plotPoint {
                        v: @let($history0.($t))
                        x: $t
                        y: $eager($v)
                        dy: 0
                    }
                    }
                }
                # style information
                id: chart
                primaryHue: $interpolate('#6f7286', '#babcca')
                transition: @transition(300, linear)
                top: {
                    gutter: '0px'
                }
                right: {
                    gutter: '40px'
                }
                bottom: @axis(type: time) {
                    gutter: '30px'
                }
                left: @axis(type: linear) {
                    gutter: '40pxpx'
                }
                domainBoundLeft: true
                domainBoundRight: true
                domainPaddingTop: 1
                domainPaddingBottom: 1
            }
        }
    }
    @block {
        @card {
            title: 'Current Soil Moisture Level'
            body: @gauge {
                
                # data link information
                node: '/sensor/soil'
                lane: 'latest'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # Gauge Values
                meter: $round($linkData#0)/100
                value: @text([{ $round($eager($linkData#0)) || 0}%])
                # Gauge Style
                id: gauge
                transition: @transition(400, linear)
                innerRadius: 90 @pct
                dialCornerRadius: 50 @pct
                dialColor: '#56d7ba'
                faceColor: '#eaecf4'
                valueColor: '#56d7ba'
                valueWeight: 400
                valueSize: 40 @pct
            }
        }   
        @card {
            title: 'Soil Moisture History'
            body: @chart {
                # data link information
                lane: 'history'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # chart plot 1
                @plot(type: area) {
                    history0: @link(host: $host, node: '/sensor/soil', lane: $lane, type: map)
                    areaFill: 'rgba(255,0,0,0.4)'
                    @each(t: $history0.*:) {
                    key: $t
                    @plotPoint {
                        v: @let($history0.($t))
                        x: $t
                        y: $eager($v)
                        dy: 0
                    }
                    }
                }
                # style information
                id: chart
                primaryHue: $interpolate('#6f7286', '#babcca')
                transition: @transition(300, linear)
                top: {
                    gutter: '0px'
                }
                right: {
                    gutter: '40px'
                }
                bottom: @axis(type: time) {
                    gutter: '30px'
                }
                left: @axis(type: linear) {
                    gutter: '40pxpx'
                }
                domainBoundLeft: true
                domainBoundRight: true
                domainPaddingTop: 1
                domainPaddingBottom: 1
            }
        } 
    }
    @block {
        @card {
            title: 'Current Temperature (F)'
            body: @gauge {
                
                # data link information
                node: '/sensor/temperature'
                lane: 'latest'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # Gauge Values
                meter: $round($linkData#0)/100
                value: @text([{ $round($eager($linkData#0)) || 0} deg])
                # Gauge Style
                id: gauge
                transition: @transition(400, linear)
                innerRadius: 90 @pct
                dialCornerRadius: 50 @pct
                dialColor: '#56d7ba'
                faceColor: '#eaecf4'
                valueColor: '#56d7ba'
                valueWeight: 400
                valueSize: 40 @pct
            }
        }      
        @card {
            title: 'Temperature History'
            body: @chart {
                # data link information
                lane: 'history'
                linkData: @link(host: $host, node: $node, lane: $lane, type: value)
                # chart plot 1
                @plot(type: area) {
                    history0: @link(host: $host, node: '/sensor/temperature', lane: $lane, type: map)
                    areaFill: 'rgba(255,0,0,0.4)'
                    @each(t: $history0.*:) {
                    key: $t
                    @plotPoint {
                        v: @let($history0.($t))
                        x: $t
                        y: $eager($v)
                        dy: 0
                    }
                    }
                }
                # style information
                id: chart
                primaryHue: $interpolate('#6f7286', '#babcca')
                transition: @transition(300, linear)
                top: {
                    gutter: '0px'
                }
                right: {
                    gutter: '40px'
                }
                bottom: @axis(type: time) {
                    gutter: '30px'
                }
                left: @axis(type: linear) {
                    gutter: '40pxpx'
                }
                domainBoundLeft: true
                domainBoundRight: true
                domainPaddingTop: 1
                domainPaddingBottom: 1
            }
        } 
    }    
}
</script>