<html>

    <head>
        <title>Twitter Mon</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script> {{!--
        <script type="text/javascript" src="/js/InstrumentPanel.js"></script>
        <script type="text/javascript" src="/js/CompassControl.js"></script>
        <script type="text/javascript" src="/js/ThermometerControl.js"></script>
        <script type="text/javascript" src="/js/HighLowMeter.js"></script>
        <script type="text/javascript" src="/js/VideoFeed.js"></script> --}}

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:600|Droid+Sans+Mono|Ovo" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Exo" rel="stylesheet">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:600|Droid+Sans+Mono|Ovo" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css"> {{!--
        <link rel="stylesheet" href="/css/components.css" type="text/css"> --}}

    </head>

    <body>
        {{{body}}}
    </body>

</html>