* {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

body {
    background-color: #151515;
    color: #fff;
    font-family: 'Assistant', sans-serif;
}

h1 {
    text-transform: capitalize;
    margin: 0px 10px;
}

h3 {
    font-size: 18px;
    padding: 10px 10px;
    font-weight: bolder;
    text-transform: capitalize;
    background-color: rgba(0, 255, 0, 0.07);
    margin: 0px;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.headerContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.headerMenu {
    display: flex;
    flex-direction: column;
}

.headerRow {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 50px;
    position: relative;
}

.headerRow div {
    text-align: center;
    padding: 7px 5px 0px 5px;
}

.headerLabel {
    flex-grow: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.menu .dropDown {
    display: block;
    background-color: rgb(155, 155, 155);
    margin-top: 15px;
    padding: 0px 0px 10px 0px;
}

.menu .dropDown div {
    text-align: left;
}

.menu .dropDown div:hover {
    text-align: left;
    background-color: rgba(200, 200, 255, 0.5);
}

.menu:hover {
    background-color: rgba(200, 200, 200, 0.05);
    overflow: visible;
}

.headerRouteInfo {
    background-color: rgba(200, 200, 200, 0.1);
    padding-right: 10px;
}

#backButton {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer;
    font-size: 24px;
    font-weight: 900;
}

#backButton:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    background-color: #222;
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    flex-grow: 1;
}

.containerHeader {
    padding: 3px;
    background-color: rgba(100, 100, 155, 0.1);
    font-size: 18px;
}

.scroller {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.header .dataItem {
    text-align: center;
    font-weight: bold;
    background-color: rgba(155, 155, 155, 0.2)
}

.loadingText {
    text-align: center;
    margin-top: 5%;
}

.row {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.scroller .row div:first-child {
    border-left: solid 1px rgba(200, 200, 200, 0.3);
}

.header {
    height: 35px;
    background-color: rgba(0, 255, 0, 0.07);
}

.header div:first-child {
    border-radius: 15px 0 0 0;
}

.clickable:hover {
    background-color: rgba(200, 200, 255, 0.2);
}

.dataItem {
    padding: 5px;
    display: flex;
    flex-grow: 1;
    width: 25%;
    border-bottom: solid 1px rgba(200, 200, 200, 0.3);
    overflow: hidden;
    background-color: rgba(0, 55, 0, 0.1);
}

.modalContainer {
    position: absolute;
    top: calc(50% - 210px);
    left: calc(50% - 150px);
    box-shadow: 0px 0px 75px 1px #000;
    width: 300px;
    height: 420px;
    border: solid 1px rgba(200, 200, 200, 0.2);
    /* display: none; */
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.botHomeIcon,
.botBackIcon {
    background-size: contain;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.botHomeIcon {
    background-image: url('/assets/icons8-twitter.png');
}

.botBackIcon {
    background-image: url('/assets/icons8-back-to.png');
}

.headerDropdownMenu {
    display: none;
}

.editButton {
    width: 44px;
    height: 44px;
}

.deleteButton {
    width: 44px;
    height: 44px;
}

.Author {
    width: 20%;
}

.Quote {
    width: 80%;
}

.Edit,
.Delete {
    width: 50px;
    cursor: pointer;
}

canvas {
    background-color: rgba(255, 255, 255, 0.8);
}